.projectSupervisior{
    display:flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    background-color:  rgba(236, 78, 78, 0.936);
    
}

.col{
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   margin : 0px 0px;
   border-color: red;

   
}
.row{
    display:flex;
    flex-direction: column;
    width:100vw;
    height: 75vh;
    
}

.card{
 display:flex;
 color:black;
 width:20vw;
 height: auto;
 color:red;


}

.card h1{
    color:white;
}
.img img{
    display:flex;
    width:100px;
    height:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 80px;
    border-radius: 7px;
    background-color: violet;
    padding:3px;
    

}

.img2 img{
    display:flex;
    width:120px;
    height:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 80px;
    border-radius: 7px;
    background-color: black;
    padding:2px;
}

