.search{
    display:flex;
    flex-direction: row;
    width:100vw;
    height:auto;
    justify-content: center;
    align-items: center;
    
    

}

.search-label{
    font-size: larger;
    font-weight: 600;
    margin-right: 5px;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: black;;
}

.searchMinor{
    display:flex;
    flex-direction: row;
    width:70vw;
    height:5vh;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    
}