.add-admin{
    display:flex;
    flex-direction: column;
    justify-content: center;
   background-image: url(../../../assets/Sign-In.jpg);
    height:34.5vw;
    width: 100vw;
    align-items: center;
    background-repeat: repeat-x;
}


.card{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}



.card_content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signIn{
display:flex;
justify-content: center;
align-items: center;
color:blue;

}

.password-label{
    width:5px;
}

.password-input{
    width:500px;
}

.button{
    width:100px;
    height:40px;
    background-color: blue;
    color:white;
    border-radius: 5px;
    margin: 0 100px;
}

.login-form{
    display:flex;
    flex-direction: row;
    width:40vw;
    justify-content: center;
    align-items: center;
}